{% load static %}

<!-- Container for teacher cards -->
<div class="teachers-container">
  <!-- Loop through the teachers for the current page -->
  {% for teacher in page_obj %}
    <!-- Link to the teacher's profile -->
    <a href="{% url 'teacher_profile' teacher.id %}" class="link-profile">
      <!-- Teacher card -->
      <div class="teacher-card">
        <!-- Display profile picture, or a default avatar if one is not set -->
        {% if teacher.profile_picture %}
            <img src="{{ teacher.profile_picture.url }}" alt="{{ teacher.first_name }} {{ teacher.last_name }}" class="teacher-img">
        {% else %}
            <img src="{% static 'core/img/avatar.jpg' %}" alt="{{ teacher.first_name }} {{ teacher.last_name }}" class="teacher-img">
        {% endif %}
        <!-- Display teacher's name and phone number -->
        <div class="teacher-info">
          <h2 class="teacher-name">{{ teacher.first_name }} {{ teacher.last_name }}</h2>
          <p class="teacher-phone">{{ teacher.phone_number }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>

<!-- Pagination links -->
{% if page_obj.paginator.num_pages > 1 %}
  <div class="pagination">
    <!-- Loop through the pages and display links for the current page and the two previous and next pages -->
    {% for p in page_obj.paginator.page_range %}
      {% if page_obj.number == p %}
          <a class="active">{{ p }}</a>
      {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
          <a href="javascript:getTeachers('{{ query }}', '{{ p }}')">{{ p }}</a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
